<div class="banner banner--carousel">
  <div class="site-header__offset"></div>
  <div class="banner__wrap">
    {% if page.banner.content %}
      {{page.banner.content | liquify}}
    {% else %}
      <div class="container text--center">
        {% if page.banner.title-sup %}{{page.banner.title-sup}}{% endif %}
        <h1 class="banner-title">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.banner.title-sub %}{{page.banner.title-sub}}{% endif %}
      </div>
    {% endif %}
  </div>
  {% include nav/site.html %}

  <div class="banner__bg">
    <div class="banner__overlay"></div>
    <div class="carousel owl-carousel" id="banner-carousel">
      <div class="banner__slide" style="background-image: url('{{site.img}}/banner/{{page.id}}/01.jpg');"></div>
      <div class="banner__slide" style="background-image: url('{{site.img}}/banner/{{page.id}}/02.jpg');"></div>
      <div class="banner__slide" style="background-image: url('{{site.img}}/banner/{{page.id}}/03.jpg');"></div>
    </div>
    <div class="carousel-nav">
      <div class="carousel-navitem carousel-navitem-next" id="owl-carousel-next"></div>
      <div class="carousel-navitem carousel-navitem-prev" id="owl-carousel-prev"></div>
    </div>
  </div>

</div>