
// need to put a friendly reminder where the g fonts snippet needs to go in the whole site
// additional families need to included in includes > page > head

$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'Julius Sans One', sans-serif;
$font-title-02: 'Lato', 'Helvetica Neue', sans-serif;
