// general styles for the project that wouldn't be a reuseable component


.clearfix {
  overflow: auto;
}



/******* thumbnails ******/


.bv-border-radius {

  border-radius: 6px ;

    &--top   {

      border-radius: 6px 6px 0px 0px; }

    &--bottom   {

      border-radius: 0px 0px 6px 6px;}
}



.bv-modal-thumbn{
  background-size: 210%;
  transition-duration: 0.2s;

  @include bp($md){ background-size: 195%; transition-duration: 0.2s; }
  @include bp($xl){ background-size: 195%; transition-duration: 0.2s; }
  @include bp($xxl){ background-size: 225%; transition-duration: 0.2s; }
  @include bp($xxxl){ background-size: 200%; transition-duration: 0.2s; }
}

.bv-modal-thumbn:hover{
  background-size: 220%;

  @include bp($md){ background-size: 205%; }
  @include bp($xl){ background-size: 205%; }
  @include bp($xxl){ background-size: 240%; }
  @include bp($xxxl){ background-size: 205%; }
}

.bv-modal-thumbn-text{
  margin:10px;
  padding:10px;
  margin-top: -15px;
  background-color: rgba(255,255,255,0.8);
}

.bv-caption{
  background-image: linear-gradient(rgba($black,0), rgba($black,0.8));
  background-blend-mode: multiply;
  padding-top: 15px;
  margin-top: -30px;
  font-weight: bold;

    &--thumbn   {
      font-weight: bold;
      text-shadow: 1px 1px 4px rgba($black,0.6);
      padding-bottom: 2px;}
}

/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    &--right   {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;}

    &--darkest   {
      background-attachment: fixed;
      background-color: rgba(0,0,0,0.8);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}
      &--darker   {
      background-attachment: fixed;
      background-color: rgba(0,0,0,0.5);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

      &--dark   {
      background-attachment: fixed;
      background-color: rgba(0,0,0,0.3);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

      &--lightest   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.9);
      background-blend-mode: lighten;
      background-position: center;
      background-size: cover;
      }

      &--lighter   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.7);
      background-blend-mode: lighten;
      background-position: center;
      background-size: cover;
      }
      &--light   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.6);
      background-blend-mode: color;
      background-position: center;
      background-size: cover; }

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{

  background-image: none!important;

  &--black{

    background-image: none!important;
    background-color: #000;}
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;


    &--darkest   {
      background-attachment: scroll;
      background-size: cover;
    }
      &--darker   {
        background-attachment: scroll;
        background-size: cover;
      }
      &--dark   {
        background-attachment: scroll;
        background-size: cover;
        }

      &--lighter   {
        background-attachment: scroll;
        background-size: cover;

      }
      &--light   {
        background-attachment: scroll;
        background-size: cover;
     }
    }

}
