<!--
  creates modals for all of the sections that appear on the single page
  creates a series modal so user can nav between each poi in the current section
  will also load in normal modals that appear in /data/modals.yml
-->

<div class="js-modal modal__bg is-closed">
  <div class="modal__wrap">

    {% for section in site.data.sections %}
      {% for item in section.pois.items %}

        <div class="modal modal--series is-closed" data-modal-id="{{item.id}}" data-modal-group="{{section.id}}">
          <div class="js-close-modal modal__close"></div>
          <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
          <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
          <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/gallery/{{item.id}}.jpg');">
            <div class="text--white text--caption boxpad--sm text--left bv-caption">{{item.caption}}</div></div>
          <div class="modal__content">
            <h3 class="title title--sm title--core text--center">{{item.title}}</h3>
            <div class="vpad--xs" >{{item.description}}</div>
          </div>
        </div>

      {% endfor %}
    {% endfor %}



  </div>
</div>
